.homeSec {
  width: 100vw;
  height: 100vh;
  padding: 10rem;
  background: url("../../assets/bg.jpg");
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;
}

.homeSearch {
  margin: auto;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  margin-block-end: 3rem;
}

.recentSearches {
  color: white;
  width: 65%;
  margin: auto;
  height: auto;
}
.recentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .homeSec {
    padding: 7rem 2rem;
  }
  .homeSearch {
    margin-block-end: 0.5rem;
  }
  .recentSearches {
    width: 100%;
  }
}
